{% extends "Base.html" %}
{% load static %}
{% block title %} Barbers | Explicit Barber {% endblock %}
{% block content %}
<div class="gallery">
  <div class="image-box">
    <p class="title">Santiago<br><a href="https://www.instagram.com/explicit.barber?utm_source=ig_web_button_share_sheet&igsh=eGxjaWRvam1qbms5">Instagram</a></p>
    <img src="{% static 'Barberia/Imagenes/slider3.jpeg' %}" alt="Imagen 3">
  </div>
  <div class="image-box">
    <p class="title">Juan Felipe <br><a href="https://www.instagram.com/j.f_ochoa98?utm_source=ig_web_button_share_sheet&igsh=MTB4bDdxdDRsbDB5NQ==">Instagram</a></p>
    <img src="{% static 'Barberia/Imagenes/Pimpon.jpeg' %}" alt="Imagen 2">
  </div>
  <div class="image-box">
    <p class="title">Daniel<br><a href="https://www.instagram.com/danielcarmonahe?utm_source=ig_web_button_share_sheet&igsh=eGpsMDA0aTVpZnYz">Instagram</a></p>
    <img src="{% static 'Barberia/Imagenes/Daniel.jpeg' %}" alt="Imagen 1">
  </div>
  <div class="image-box">
    <p class="title">Pablo<br><a href="https://www.instagram.com/p_montoya.j?utm_source=ig_web_button_share_sheet&igsh=MXF5cDY5NnR0M282bg==">Instagram</a></p>
    <img src="{% static 'Barberia/Imagenes/Pablo.jpeg' %}" alt="Imagen 4">
  </div>
</div>
{% endblock %} 