{% extends "base.html" %}

{% block title %}Inicio | Explicit Barber{% endblock %}

{% block content %}
    <div class="seccion">
        <h2>Servicios</h2>
        <div class="servicios">
            <div class="caja">Corte de Cabello</div>
            <div class="caja">Barba</div>
            <div class="caja">Perfilación de Cejas</div>
        </div>
    </div>

    <div class="seccion">
        <h2>Barbers</h2>
        <div class="barbers">
            <div class="caja">Sede 1</div>
            <div class="caja">Sede 2</div>
        </div>
    </div>
{% endblock %}