{% extends "Base.html" %}
{% load static %}
{% block title %}Inicio | Explicit Barber{% endblock %}
{% block content %}
<div class="hero-container">
        <video autoplay muted loop class="video-background">
            <source src="{% static 'Barberia/Videos/Video1.mp4' %}" type="video/mp4">
            Tu navegador no soporta el tag de video.
        </video>
        <div class="overlay"></div>

        <div class="hero-content">
          <img src="{% static 'Barberia/Imagenes/LOGO.png' %}" alt="Explicit Logo" class="logo">  
          <h1 class="welcome-title">BIENVENIDO A EXPLICIT BARBER</h1>
            <p class="welcome-subtitle">MÁS QUE UN CORTE, UNA EXPERIENCIA</p>
            <a href="/reserva" class="reserve-button">RESERVA EN LÍNEA</a>
            
          </div>
    </div>

<section class="explicit-barbers">
    <h2 class="titulo-principal">Explicit Barbers</h2>
    
    <div class="barberos-grid">

        <div class="barbero-card">
            <div class="barbero-foto">
                <img src="{% static 'Barberia/Imagenes/slider3.jpeg' %}" alt="Barbero 1">
                <div class="barbero-info">
                    <h3>Santiago</h3>
                    <p>Especialista en degradados y diseño de barba.</p>
                    <span class="experiencia">5 años de experiencia</span>
                </div>
            </div>
        </div>

        <div class="barbero-card">
            <div class="barbero-foto">
                <img src="{% static 'Barberia/Imagenes/Pimpon.jpeg' %}" alt="Barbero 2">
                <div class="barbero-info">
                    <h3>Juan Felipe</h3>
                    <p>Experto en cortes clásicos y ritual de toalla caliente.</p>
                    <span class="experiencia">3 años de experiencia</span>
                </div>
            </div>
        </div>

        <div class="barbero-card">
            <div class="barbero-foto">
                <img src="{% static 'Barberia/Imagenes/Daniel.jpeg' %}" alt="Barbero 3">
                <div class="barbero-info">
                    <h3>Daniel</h3>
                    <p>Maestro en perfiles y pigmentación capilar.</p>
                    <span class="experiencia">7 años de experiencia</span>
                </div>
            </div>
        </div>

        <div class="barbero-card">
            <div class="barbero-foto">
                <img src="{% static 'Barberia/Imagenes/Pablo.jpeg' %}" alt="Barbero 4">
                <div class="barbero-info">
                    <h3>Pablo</h3>
                    <p>Maestro en perfiles y pigmentación capilar.</p>
                    <span class="experiencia">7 años de experiencia</span>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="why-choose-us">
  <div class="container">
    <h2 class="section-title">¿Por que nosotros?</h2>
    <div class="features-grid">
      <div class="feature-item">
        <div class="feature-icon">
          <img src="{% static 'Barberia/Imagenes/tijeras.png' %}" alt="Icono de Barbero">
        </div>
        <h3>Barberos Expertos</h3>
        <p>Nuestros barberos no solo dominan las técnicas de corte, sino que también están en constante formación para ofrecerte los estilos más modernos. Cada uno es un artista, garantizando un resultado impecable en cada visita.

</p>
      </div>
      <div class="feature-item">
        <div class="feature-icon">
          <img src="{% static 'Barberia/Imagenes/barbera.png' %}" alt="Icono de Navaja">
        </div>
        <h3>La Mejor Atención</h3>
        <p>Desde el momento en que entras, nuestro equipo te hace sentir bienvenido. Escuchamos tus ideas, te asesoramos y nos aseguramos de que cada detalle de tu visita sea perfecto. Tu satisfacción es nuestra prioridad, y eso se nota en cada servicio que brindamos.</p>
      </div>
      <div class="feature-item2">
        <div class="feature-icon2">
          <img src="{% static 'Barberia/Imagenes/Logobarber.png' %}" alt="Icono de Tijeras">
        </div>
        <h3>El Mejor Ambiente</h3>
        <p>Relájate en un espacio diseñado para tu comodidad y disfrute. Con música, un ambiente limpio y una energía positiva, te ofrecemos una pausa de la rutina. Aquí, un corte de pelo no es solo una necesidad, es una experiencia única y placentera.</p>
      </div>
    </div>
  </div>
</section>

<section class="Informacion">
    <div class="contacto-header">
        <div class="contacto-item">
            <div class="circulo-logo"> <img src="{% static 'Barberia/Imagenes/Reloj.png' %}" alt="Reloj">
            </div>
            <div class="texto-contacto">
                <strong>Horario</strong>
                <span>LUNES - SABADO 10:00 AM - 8:00 PM</span>
                <span>DOMINGO 10:00 AM - 4:00 PM</span>
            </div>
        </div>

        <div class="contacto-item">
            <div class="circulo-logo"> <img src="{% static 'Barberia/Imagenes/instagram.png' %}" alt="instagram">
            </div>
            <div class="texto-contacto">
                <strong>Instagram</strong>
                <span>@EXPLICIT.BARBER</span>
            </div>
        </div>

        <div class="contacto-item">
            <div class="circulo-logo"> <img src="{% static 'Barberia/Imagenes/whatasap_logo.png' %}" alt="whatsapp">
            </div>
            <div class="texto-contacto">
                <strong>WhatsApp</strong>
                <span>3117882624</span>
            </div>
        </div>
    </div>
</section>

<section class="precios-servicios">
    <h2 class="titulo-precios">Nuestros Servicios</h2>
    
    <div class="tabla-precios">
        <div class="fila-precio">
            <span class="nombre-servicio">Corte de Cabello (Clásico/Tendencia)</span>
            <span class="costo-servicio">$22.000</span>
        </div>

        <div class="fila-precio">
            <span class="nombre-servicio">Corte Clasico Con Cejas</span>
            <span class="costo-servicio">$24.000</span>
        </div>

        <div class="fila-precio">
            <span class="nombre-servicio">Corte y Barba (Combo Estrella)</span>
            <span class="costo-servicio">$25.000</span>
        </div>
        
        <div class="fila-precio">
            <span class="nombre-servicio">Corte Con Afeitado y Cejas</span>
            <span class="costo-servicio">$27.000</span>
        </div>
        
        <div class="fila-precio">
            <span class="nombre-servicio">Corte Con Barba</span>
            <span class="costo-servicio">$26.000</span>
        </div>

        <div class="fila-precio">
            <span class="nombre-servicio">Corte Con Barba y Cejas (Combo Completo)</span>
            <span class="costo-servicio">$28.000</span>
        </div>
        <div class="fila-precio">
            <span class="nombre-servicio"> Marcacion De Barba </span>
            <span class="costo-servicio">$12.000</span>
        </div>
        <div class="fila-precio">
            <span class="nombre-servicio"> Diseño De Cejas</span>
            <span class="costo-servicio">$6.000</span>
        </div>
    </div>
        
</section>


  
  <div class="map-container" alt="Ubicacion">
      <div style="text-align: center; margin: 20px 0;">           
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1667.1366250249293!2d-75.44446713552102!3d6.375731341037127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e443b4f3c71a605%3A0xff1f6f2b77baee18!2sExplicit%20Barber%20Shop!5e0!3m2!1ses-419!2sco!4v1754003570957!5m2!1ses-419!2sco" 
                      width="600" height="450" style="border:0;"allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                      </div>
                  </div>
                </div>
{% endblock %}