.Logo-header {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

/*
    Estilos para el contenedor principal
*/
.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*
    Estilos para el video de fondo
*/
.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -2;
}

/*
    Estilos para la superposición oscura
*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece el video para que el texto sea legible */
    z-index: -1;
}

/*
    Estilos para el contenido (texto y botón)
*/
.hero-content {
    z-index: 1;
}

.welcome-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.795);
}

.welcome-subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(26, 25, 25, 0.795);
}

/*
    Estilos para el botón de reserva
*/
.reserve-button {
    background-color: #d12709; /* Color naranja del botón */
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.reserve-button:hover {
    background-color: #f32d0a; /* Color del botón al pasar el mouse */
}

.logo {
    width: 250px; /* Tamaño del logo. Puedes ajustarlo */
    height: auto;
    margin-bottom: 0px; /* Espacio debajo del logo */
}
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  gap: 30px; /* Espacio entre las imágenes */
  justify-items: center; /* Centra cada imagen horizontalmente */
  align-items: center;
  padding: 40px;
}

.image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-box img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra opcional */
}

.title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}