.hero-box {
  
    border: 2px solid #000000;      /* Borde rojo como en la imagen */
  border-radius: 15px;            /* Bordes redondeados */
  padding: 20px;                  /* Espaciado interno */
  text-align: center;             /* Centra el contenido */
  width: fit-content;             /* Ajusta el tamaño al contenido */
  margin: 40px auto;              /* Centra el cuadro horizontalmente */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  /* Sombra ligera */
  background-color: #f3f3f3;         /* Fondo blanco */
}

.logo-img {
  width: 200px;     /* Ajusta según lo que necesites */
  height: auto;
  display: block;
  margin: 0 auto 20px auto; /* Centrado + margen abajo */
}

.Logo-header {
  width: 120px;
  height: auto;
  margin-right: 10px;
}

.carousel {
  position: relative;
  width: 900px; /* Ajusta el ancho total del carrusel */
  height: 900px;
  margin: 2em auto;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-track  {
  width: 102%;
  height: auto ;
  object-fit: cover;
  flex-shrink: 0;
  margin-right: 10px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 2em;
  padding: 0 10px;
  cursor: pointer;
  z-index: 2;
}

.carousel-btn.prev {
  left: 0;
}
.carousel-btn.next {
  right: 0;
}